<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/login.css}">
</head>
<body>


<div class="container center-contents">
    <div class="row">
        <form class="form-signin" method="post" th:action="@{/login}">
            <h1 class="h3 mb-3 font-weight-normal"> 로그인 </h1>
            <label for="username" class="sr-only"> 로그인 아이디 </label>
            <input type="text"
                   id="username"
                   name="username"
                   class="form-control"
                   placeholder="아이디를 입력해 주세요"
                   required autofocus>
            <label for="password" class="sr-only"> 비밀번호 </label>
            <input type="password"
                   id="password"
                   name="password"
                   class="form-control"
                   placeholder="비밀번호를 입력해 주세요"
                   required>

            <div class="type-select">
                <input type="radio" name="type" value="student" checked> 학생
                <input type="radio" name="type" value="teacher"> 선생님
            </div>
            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="remember-me"> Remember me
                </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block"  type="submit"> 로그인 </button>
            <div class="error-message" th:if="${loginError}">
                <span> 아이디나 패스워드가 올바르지 않습니다. </span>
            </div>
        </form>

    </div>
</div>

<script th:src="@{/js/bootstrap.js}" />
</body>
</html>